.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.about-heading {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color:rgb(137, 8, 51);
  font-weight: bold;
}
