footer {
  background-color:rgb(16, 4, 65); 
  color: #ffffff;          
  text-align: center;
  height: 70px;
  margin-bottom: 2px;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  border-top:1px solid rgb(0, 0, 0);
  align-content: center;
}


footer p {
  margin: 0;
  background-color: inherit;
}
