/* Container form styling */
form {
  width: 400px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f1d6bc;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Input field styles */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="phone"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="phone"]:focus {
  border-color: #007bff;
  outline: none;
}

form > br + input,
form > input[type="radio"] {
  margin-top: 5px;
}


input[type="radio"] {
  margin-right: 6px;
  margin-left: 10px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="button"] {
  color: rgb(6, 68, 182);
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

